name: Go Continuous Integration
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Run Go linters
        uses: golangci/golangci-lint-action@v3
        with:
          args: --verbose --timeout 15m
          skip-pkg-cache: true
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - run: |
          curl -sSf 'https://atlasgo.sh?test=1' | env ATLAS_DEBUG=true sh
      - name: Run tests
        run: go test -race ./...
  e2e-tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: pass
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - run: |
          curl -sSf 'https://atlasgo.sh?test=1' | env ATLAS_DEBUG=true sh
      - name: Run tests
        run: go test ./atlasexec/internal/e2e
        env:
          ATLASEXEC_E2ETEST: "1"
          ATLASEXEC_E2ETEST_ATLAS_PATH: atlas
          ATLASEXEC_E2ETEST_POSTGRES_URL: postgres://postgres:pass@postgres:5432/postgres?search_path=public&sslmode=disable
